.idea
frontend/node_modules
backend/.virtualenvs/

# Django stuff:
*.log
backend/photoapp/db.sqlite3
backend/photoapp/photoapp
backend/photoapp/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class